@media only screen and (max-width: 640px){
    img{
        display: none;
    }
    
    div {
        background-image: url("https://lh3.googleusercontent.com/F3JaNfJFCn2q38IeybjI4GSPuoeFQ-7uYJ9sFMFU64M4kJuthYzsRiSpv09-u5r59iLPYA=s170");
        height: 100px;
        background-repeat: no-repeat;
        margin: 20px 0 20px 0;
        align-content: center;
    }
    }

    button {
        background-color: cadetblue;
        padding: 10px 25px;
        color: white;
        border-radius: 5px;
        font-size: 15px;
    }

    #modal_container { 
    /* hide image during initial page load */
        display: none;
    }

    #modal_container.show {
    /* display when .show is selected  */
        display: block;
    }

    #off {
        display: none;
    }

    #off.show {
        display: block;
    }